.realRadio {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;

  opacity: 0;
}

.formGroup {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.disable {
  cursor: default;

  color: var(--dark-100);
}


.customRadio {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 14px;

  border: 2px solid var(--light-100);
  border-radius: 50%;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    display: none;

    width: 10px;
    height: 10px;

    background-color: var(--light-100);
    border-radius: 50%;
  }

  .realRadio:checked + &::before {
    transform: translate(-50%, -50%) scale(1);

    display: inline-block
  }

  .realRadio:disabled + & {
    border-color: var(--dark-100);
  }

  .realRadio:checked:disabled + &::before {
    background-color: var(--dark-100);
  }
}