.Loader {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: .9;
  background: var(--dark-900);
}

.loader {
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 8px;
  height: 40px;
  margin: 20px auto;

  color: var(--color-dark);

  background: var(--primary-500);
  border-radius: 4px;

  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';

  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  box-sizing: border-box;
  width: 8px;
  height: 40px;

  background: var(--primary-500);
  border-radius: 4px;

  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::before {
  left: -20px;

  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}