.popover {
  position: relative;
}

.popoverPanel {
  position: absolute;
  z-index: 10;
  bottom: 50px;

  display: flex;
  flex-direction: column;

  min-width: 120px;

  color: var(--light-100);

  background-color: var(--dark-500);
  border-radius: 7px;
}

.popoverButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  background-color: var(--dark-500);
  border-radius: 50%;
}