.Select {
  position: relative;

  width: 150px;

  &:focus {
    border: none;
  }
}

.listBoxButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 36px;
  padding: 6px 12px;

  color: var(--light-900);

  background-color: var(--dark-900);
  border: 1px solid var(--dark-100);
  border-radius: 2px;

  &:focus {
   border: 2px solid var(--primary-500);
  }
}

.arrowIcon {
  transform: rotate(0deg);

  transition: all .1s ease-in-out;
}



.selected {
  transform: rotate(180deg);
}


.listBoxOptions {
  position: absolute;

  width: 100%;

  border: 1px solid var(--dark-100);
}

.listBoxOption {;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding: 6px 12px;

  color: var(--light-100);

  background-color: black;
}

.listBoxOptionActive {
  color: var(--primary-500);

  background-color: var(--dark-300);
}

.isActive {
  color: var(--light-100);

  background-color: var(--dark-500);
  border: 1px solid var(--light-100);
}

.isFocus {
  border: 2px solid var(--primary-500);
}

.isDisabled {
  cursor: none;

  opacity: 0.5;
}