.CloseModal {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  background-color: var(--dark-400);
  border-radius: 15px;
}

.content {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;

  height: 100px;

  border-bottom: 1px solid var(--dark-100);
}

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
}

.border {
  border-bottom: 1px solid var(--dark-100);
}

.open {
  z-index: 100;

  display: block;
}