.Button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  color: inherit;

  border: none;
  border-radius: 2px;
  outline: none;

  transition: all .2s ease-in-out;
}

.clear {
  cursor: pointer;

  margin: 0;
  padding: 0;

  color: inherit;

  background: none;
  border: none;
  outline: none;

  &:active {
    color: var(--primary-700);
  }

  &:hover {
    transform: none;

    background: none;
  }

  &:focus-visible {
    color: var(--primary-500);

    outline: 1px solid var(--primary-700);
  }

  &:disabled {
    transform: none;

    color: var(--primary-900);

    background: none;
  }

}

.primary {
  color: var(--light-100);

  background-color: var(--primary-500);

  &:active {
    transform: translateY(1px);

    color: var(--light-500);

    background-color: var(--primary-700);
  }

  &:hover {
    transform: translateY(-1px);

    color: var(--light-100);

    background: var(--primary-100);
  }

  &:focus-visible {
    color: var(--light-100);

    background-color: var(--primary-700);
    outline: 2px solid var(--primary-700);
  }

  &:disabled {
    transform: none;

    color: var(--light-900);

    background-color: var(--primary-900);
  }
}

.outline {
  color: var(--primary-500);

  border: 1px solid var(--primary-500);

  &:active {
    transform: translateY(1px);

    color: var(--primary-700);

    border: 1px solid var(--primary-700);
  }

  &:hover {
    transform: translateY(-1px);

    color: var(--primary-100);

    border: 1px solid var(--primary-100);
  }

  &:focus-visible {
    color: var(--primary-700);

    outline: 2px solid var(--primary-700);
  }

  &:disabled {
    transform: none;

    color: var(--primary-900);

    border: 2px solid var(--primary-900);
  }
}

.light {
  color: var(--dark-900);

  background-color: var(--light-100);

  &:active {
    transform: translateY(1px);

    color: var(--dark-900);

    background-color: var(--light-700);
  }

  &:hover {
    transform: translateY(-1px);

    color: var(--dark-300);

    background: var(--light-100);

  }

  &:focus-visible {
    color: var(--dark-900);

    background-color: var(--light-100);
    outline: 2px solid var(--primary-700);
  }

  &:disabled {
    transform: none;

    color: var(--dark-100);

    background-color: var(--light-900);
  }
}

.xxl {
  width: 330px;

}

.xl {
  width: 294px;
}

.l {
  width: 229px;
}

.m {
  width: 182px;
}

.s {
  width: 96px;
}

.xs {
  width: 140px;
}

