
.form {
  display: flex;
  flex-direction: column;

  width: 400px;
  padding: 29px 23px 18px 25px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 15px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb18 {
  margin-bottom: 18px;
}

.alignSelfCenterPure {
  align-self: center;
}

.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}

.text_decoration {
  text-decoration: underline;
  text-decoration-color: var(--primary-500);
}

.policy {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text {
  display: flex;
  gap: 3px;
  align-items: center;
}