.Sidebar {
  position: sticky;
  z-index: 20;
  top: 0;

  width: 270px;
  height: calc(100vh);
  padding: 74px 0 36px 0;

  border-right: 1px solid var(--dark-300);

  transition: all .4s ease-in-out;

  &.sidebarClose {
    width: 60px;
    padding: 74px 0 36px 15px;
  }
}

.innerWrapper {
  display: flex;
  flex-direction: column;

  width: max-content;
  height: 100%;
  margin: 0 auto;

  font: var(--font-medium-l);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: auto
}

.decor {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 50%;
  right: -12.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  opacity: .6;
  background-color: var(--dark-100);
  border-radius: 50%;

  transition: all .5s ease-in-out;
}

.close {
  transform: rotate(180deg);
}

.fontNone {
  font-size: 0;

  transition: font-size .3s ease-in-out;
}

.fontInherit {
  font: inherit;

  transition: font-size .3s ease-in-out;
}

.mb50 {
  margin-bottom: 50px;
}

.text {
  align-self: center;

  transition: font-size .3s ease-in-out;
}