.item {
  cursor: pointer;

  display: flex;
  column-gap: 12px;
  align-items: center;

  padding: 14px 18px;
  &:not(:last-child) {
    width: 100%;

    border-bottom: 1px solid var(--dark-300);
  }
}
