.Input {
  width: 100%;
  padding: 5px 0 5px 5px;

  color: var(--light-100);

  background: none;
  border-bottom: 1px solid var(--dark-300);
  caret-color: var(--light-100);

  &:hover {
    border-bottom: 1px solid var(--light-900);
  }

  &:active {
    border-bottom: 1px solid var(--light-100);
  }

  &:-webkit-autofill {
    -webkit-box-shadow: none !important;
  }
}


.error {
  .Input {
    border-bottom: 1px solid var(--danger-500);
  }
}

.errorText {
  position: absolute;
  top: 50px;
  left: 0;
}

.label {
  position: relative;

  color: var(--light-900);
}

.btn {
  position: absolute;
  top: 20px;
  right: 5px;
}

