.react-datepicker-wrapper {
  width: 262px !important;
  height: 36px;
  margin-bottom: 1px;

  color: var(--light-100) !important;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300) !important;
  border-radius: 5px;

  //border-bottom: none !important;
}

.react-datepicker {
  width: 300px;
  height: max-content;
  padding: 22px 16px;

  background-color: var(--dark-500) !important;
  border: 1px solid var(--dark-300) !important;
  border-radius: 2px;
}

.react-datepicker__input-container input {
  cursor: pointer !important;
}

.react-datepicker-ignore-onclickoutside {
  cursor: pointer !important;
}


.react-datepicker__input-container {
  display: flex !important;
  align-items: center;

  width: 100%;
  height: 100%;

  font: var(--font-regular-xl) !important;
}

.react-datepicker__calendar-icon {
  right: 12px;

  width: 18px !important;
  height: 20px !important;
  padding: 0 !important;

  fill: var(--light-100);
}

.react-datepicker__close-icon {
  display: none !important;
}

.react-datepicker__header {
  width: 100%;
  margin-bottom: 20px;

  background-color: var(--dark-500) !important;
  border: none !important;
}

.react-datepicker__current-month {
  font: var(--font-regular-xl) !important;
  color: var(--light-100) !important;
}

.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  margin: 0 !important;

  font: var(--font-regular-xl) !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;

  margin-top: 26px;

  font: var(--font-regular-xl) !important;
}

.react-datepicker__day-name {
  margin: 0 !important;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day--keyboard-selected {
  color: var(--primary-500) !important;

  background: none !important;
}

.react-datepicker__day--outside-month {
  color: var(--dark-100) !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day--in-range {
  flex-grow: 2;

  color: var(--light-100) !important;

  background-color: var(--primary-900) !important;
  border-radius: 0 !important;
}

.react-datepicker__day--selected {
  color: var(--light-100) !important;

  //background-color: #1976d2 !important;
  //border-radius: 50% !important;
}

.react-datepicker__day--range-start {
  font: var(--font-semiBold-l) !important;

  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.react-datepicker__day--range-end {
  font: var(--font-semiBold-l) !important;
  color: var(--light-100) !important;

  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.react-datepicker__header__dropdown {
  margin-top: 10px;
}

.react-datepicker__month-dropdown-container--select {
  font: var(--font-regular-l) !important;
  color: var(--light-100) !important;
}

.react-datepicker__year-select,
.react-datepicker__month-dropdown-container--select {
  font: var(--font-regular-l) !important;
  color: var(--light-100) !important;
}


.react-datepicker__month-select,
.react-datepicker__year-select {
  background-color: var(--dark-500);
}

.react-datepicker__year-select {
  font: var(--font-regular-l) !important;
  color: var(--light-100) !important;
}

