.Loader {
  position: absolute;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: .9;
  background: var(--dark-900);
}

.loader {
  display: inline-block;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  border: 3px solid var(--light-100);
  border-right-color: var(--dark-100);
  border-bottom-color:  var(--dark-100);
  border-left-color: var(--dark-100);
  border-radius: 50%;

  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  margin-left: 10px;

  font: var(--font-size-regular-m);
  color: var(--light-100);
}