.UserProfileHeader {
  display: flex;
  gap: 38px;
}

.avatarContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;

  border-radius: 50%;
}

.userProfileInfoContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.description {
  max-width: 730px;
}