.userProfileData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 494px;
  height: 528px;
}
.item{
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 2px solid var(--dark-100);
}

.form {
  position: relative;
  z-index: 15;

  display: flex;
  flex-direction: column;
  gap: 22px;

  width: 100%;
}

.btn {
  color: var(--light-100);
  text-transform: uppercase;

  background-color: var(--danger-500);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 22px;
}