.userProfileData{
  width: 494px;
  height: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid var(--dark-100);
}

.form {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 22px;
  z-index: 15;
}

.btn {
  background-color: var(--danger-500);
  color: var(--light-100);
  text-transform: uppercase;
}

.buttonContainer {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}