.LogOut {
  width: max-content;
}

.parentForm {
  display: flex;
  flex-direction: column;

  width: 400px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 15px;
}

.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}

.iconContainer {
  display: flex;
  gap: 40px;
  justify-content: center;

  margin-bottom: 22px;
  padding: 0 100px;
}

.transform {
  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.btn {
  display: flex;
  gap: 12px;
}