.accountManagementBlock {
  position: relative;

  max-width: 682px;
  min-height: 400px;
  margin-top: 20px;
}

.title {
  margin-bottom: 6px;

  font: var(--font-semiBold-l);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  padding: 12px 24px;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 3px;
}