.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000dd;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    opacity: 1;
}

.position {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}