.Post {
  position: relative;

  display: flex;
  align-items: center;

  width: 70vw;
  height: 90vh;

  color: var(--light-100);

  opacity: 1;
  background-color: var(--dark-900);
  border: 1px solid #504f4f6a;
}

.imageContainer {
  position: relative;

  width: 40vw;
  height: 100%;
}

.postContainer {
  position: relative;

  display: flex;
  flex-direction: column;

  width:30vw;
  height: 100%;
}



.mainContent {
  flex-grow: 1;

  border-bottom: 1px solid var(--dark-100);
}

.otherBlock {
  height: 107px;

  border-bottom: 1px solid var(--dark-100);
}

.decor {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: var(--light-100);
  border-radius: 50%;

  transition: all .2s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

.arrow {
  fill: var(--dark-900);
}

.rotate {
  transform: rotate(180deg);
}

.arrowLeftPosition {
  position: absolute;
  left: -12vw;
}

.arrowRightPosition {
  position: absolute;
  right: -12vw;
}