.container {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 100px;
}

.paginationContainer {
  display: flex;
  column-gap: 12px;
  align-items: center;

  color: var(--light-100);

  //background: white;
}

.paginationContainer button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 24px;
  height: 24px;
  padding: 2px;

  font: var(--font-regular-l);

  border-radius: 2px;

  transition: background-color .2s;

  &:focus-visible {
    outline: 2px solid var(--primary-700);
  }

  &.active {
    color: var(--dark-900);

    background-color: var(--light-100);
  }

  &.isDisabledDot {
    cursor: default;

    outline: none;
  }

  &:hover:not(.active):not(.disabled):not(.isDisabledDot) {
    background-color: var(--dark-500);
  }
}

.disabled {
  cursor: default;

  opacity: 0.3;
  outline: none;

  //color: var(--dark-100);
}

.arrowLeft {
  height: 6px;

  rotate: 90deg;
}

.arrowRight {
  height: 6px;

  rotate: -90deg;
}

.selectCountPageContainer {
  display: flex;
  column-gap: 9px;
  align-items: center;
}

