.wrapper {
  position: relative;

  width: 100% !important;

  .absolute {
    position: absolute;
    z-index: 50;
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 0;

  font: var(--font-regular-xl);
  color: var(--light-100);

  border-radius: 50%;

  transition: all .2s ease-in-out;
  &:hover {
    background-color: var(--primary-500);
    border-radius: 50%;
  }

  &:active {
    color: var(--dark-100);

    background-color: var(--primary-900);
  }
}

.calendar {
  display: none;
}

.calendar:nth-child(2) {
  display: none;
}

.weekDay {
  color: var(--dark-100);
}


.popper {
  padding: 0 !important;
}

.wrapper {
  cursor: pointer;

  width: min-content;
}

.container {
  display: flex;

  width: 100%;
}

.single {
  overflow: hidden;

  width: 100% !important;
}

.singleOpen {
  width: 100% !important;
}

.label {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: var(--light-900);
}

.customInput {
  border: none;
  outline: none;
  .Input:hover {
    border: none;
    outline: none;
  }
}

.errorText {
  position: absolute;
  top: 60px;
}

.disabled {
  opacity: .6;
}

.text_decoration  {
  color: var(--danger-800);
  text-decoration: underline;
}