.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  //justify-content: center;
}

.title {
  margin-top: 20px;

  font-size: var(--font-size-bold-xl);
  font-weight: var(--font-weight-regular);
  color: var(--light-100);
}

.description {
  margin-top: 5px;

  font-size: var(--font-size-bold-s);
  font-weight: var(--font-weight-regular);
  color: var(--light-900);
}

.button {
  margin-top: 25px;
}