.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.text {
  font: var(--font-bold-xl);
  color: var(--light-100);
}

.icon {
  width: 150px;
  height: 150px;
}