.textArea {
  resize: none;

  position: relative;

  overflow: hidden;

  width: 100%;
  padding: 6px 12px;

  font: var(--font-regular-xl);
  color: var(--light-100);

  background-color: var(--dark-400);
  border-radius: 2px;
  outline: none;

  &:active {
    color: var(--light-100);
  }

  &:hover {
    color: var(--light-900);
  }

  &:disabled {
    color: var(--dark-100);

    border-color: var(--dark-100);
  }
}

.errorText {
  position: absolute;
  top: 120px;
  left: 0;
}

.label {
  position: relative;

  color: var(--light-900);
}

.disabled {
  color: var(--dark-100);
}

.dark {
  background-color: var(--dark-900);
  border: none;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}