.container {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 4px;
}

.block {
  z-index: 20;

  width: 6px;
  height: 6px;

  background-color: var(--light-900);
  border-radius: 50%;
}

.isActive {
  background-color: var(--white);
}