.CheckBox {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: 2px solid var(--light-500);
  border-radius: 4px;

  transition: all .4s ease-in-out;

  &:hover {
    .decoration {
      background-color: var(--dark-300);
    }

    &:active {
      .decoration {
        background-color: var(--dark-100);
      }
    }
  }
  
}

.decoration {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;

  background: none;
  border-radius: 50%;

  transition: all .3s ease-in-out;
}

.container {
  display: flex;
  gap: 11px;
  align-items: center;

  &:focus {
    border: none;
    outline: none;
    .decoration {
      z-index: -10;

      background-color: var(--dark-500);
    }
  }
}


.isChecked {
  background-color: var(--light-100);
  border: none;
}

.isDisabled {
  cursor: inherit;

  border: 2px solid var(--light-900);
  .decoration {
    display: none;
  }
}

.disableChecked {
  background-color: var(--dark-100);
  border: none;
}

.input {
  display: none;
}


.label {
  cursor: pointer;

  color: var(--light-100);
}

