@mixin input($width, $height, $borderRadius) {
  cursor: pointer;

  position: relative;

  width: $width;
  height: $height;

  background: var(--dark-900);
  border: 2px solid var(--light-500);
  border-radius: $borderRadius;

  transition: 0.1s;

  appearance: none;

  &:focus-visible {
    outline: 1px solid var(--primary-300);
  }

  &:disabled {
    opacity: 0.5;

    transition: 0.3s;
  }
}

.label {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;

  width: max-content;

  font: var(--font-regular-m);
  color: var(--white);
}

.input_default {

  @include input(20px, 20px, 3px);

  position: relative;

  &:checked {
    background: var(--white);
    border: none;
  }

  &:checked::after {
    content: '';

    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-48deg);

    display: block;

    width: 16px;
    height: 8px;

    border: 2px solid var(--dark-900);
    border-top: none;
    border-right: none;
  }
}



.disabled {
  pointer-events: none;
  cursor: default;

  opacity: 0.5;
}
